<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Update {{ model }}</h1>
    </section>
</div>

<div class="mdc-layout-grid">
    <div class="row">
        <form class="col s12" action="/admin/update/{{model}}/{{obj.id}}" method="POST">
            {{#each fields}}
            <div class="row">
                <div class="input-field col s12">
                    {{#ifeq this.type 'Text' }}
                    <input placeholder="{{this.placeholder}}" id="{{@key}}" type="text" class="validate" name="{{@key}}"
                        required="{{this.required}}" value="{{this.value}}">
                        <label for="{{@key}}">{{this.label}}</label>
                    {{/ifeq}}
                    {{#ifeq this.type 'Email' }}
                    <input placeholder="{{this.placeholder}}" id="{{@key}}" type="email" class="validate"
                        name="{{@key}}" required="{{this.required}}" value="{{this.value}}">
                        <label for="{{@key}}">{{this.label}}</label>
                    {{/ifeq}}
                    {{#ifeq this.type 'Password' }}
                    <input placeholder="{{this.placeholder}}" id="{{@key}}" type="password" class="validate"
                        name="{{@key}}" required="{{this.required}}" value="{{this.value}}">
                        <label for="{{@key}}">{{this.label}}</label>
                    {{/ifeq}}
                    {{#ifeq this.type 'Textarea' }}
                    <textarea id="{{@key}}" class="materialize-textarea" name="{{@key}}" required="{{this.required}}"
                        data-length="300" placeholder="{{this.placeholder}}">{{this.value}}</textarea>
                        <label for="{{@key}}">{{this.label}}</label>
                    {{/ifeq}}

                    {{#ifeq this.type 'Number' }}
                    <input placeholder="{{this.placeholder}}" id="{{@key}}" type="number" class="validate" name="{{@key}}"
                        required="{{this.required}}" value="{{this.value}}">
                    <label for="{{@key}}">{{this.label}}</label>
                    {{/ifeq}}
                    
                    {{#ifeq this.type 'Select' }}
                    <select placeholder="{{this.placeholder}}" id="{{@key}}" type="number" name="{{@key}}" required="{{this.required}}"
                        value="{{this.value}}" class="validate">
                        {{#each this.options}}
                            <option value="{{this.id}}">{{this.value}}</option>
                        {{/each}}
                    </select>
                    <label for="{{@key}}">{{this.label}}</label>
                    {{/ifeq}}
                </div>
            </div>
            {{/each}}

            {{#if message}}
            <span class="helper-text" data-error="wrong" data-success="right">message</span>
            {{/if}}
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit">Submit <i
                            class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>