<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-1">
            <div class="mdc-card">
                <a 
                    class="btn btn-info btn-circle" 
                    style="color: white; float: right;"
                    href="/admin/add/{{model}}"
                >
                    <i class="fa fa-plus-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large">{{ model }}</h1>
                </section>
                <section class="mdc-card__supporting-text">
                    <table id="{{model}}"  class="table table-striped table-bordered">
                        <thead>
                        {{#each headers}}
                            <th>{{this.data}}</th>
                        {{/each}}
                        </thead>
                    </table>
                    <input type="hidden" id="headers" value="{{ header_string }}" />
                </section>
            </div>
        </div>
    </div>
</div>
{{#if message}}
    <div id="snackbar">{{message}}</div>
{{/if}}

<script type="text/javascript" src="Editor-1.9.2/js/dataTables.editor.js"></script>
<script>
    $.ajax({
            'url': "/admin/list/{{model}}",
            'method': "GET",
            'contentType': 'application/json'
        }).done(function (data) {
            console.log(data.data);
            var myTable = $('#{{model}}').dataTable({
                "data": data.data,
                "columns": JSON.parse($("#headers").val()),
                "autoWidth": false
            });
            $('#{{model}}').on('click', 'tbody tr', function () {
                myTable.row(this).edit();
            });
        });
    
    {{#if message}}
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    {{/if}}
</script>